.container {
    display: flex;
    justify-content: space-between;
    
}




.item {
    border: 1px black solid;
    width: 33px;
    height: 33px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    
}

#item1 {
    
    
    opacity: .5;
}